.App {
  text-align: center;
}

/* Apply pink background to the entire app */
body {
  background-color: #fff1f3; /* Light pink */
  margin: 0;
  font-family: Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Header styling */
h1 {
  font-size: 2em;
  margin-bottom: 50px;
  color: #333;
  padding-top: 100px;
}

/* Button base styling */
button {
  font-size: 1em;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 10px;
  transition: transform 0.2s ease;
}

/* Button hover effect */
button:hover:not(:disabled) {
  transform: scale(1.05);
}

/* Disabled button style */
button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Specific styling for Yes button */
.yes-button {
  background-color: #5fcf5b; /* Pastel Green */
  color: #fff;
}

/* Specific styling for No button */
.no-button {
  background-color: #c75d58; /* Pastel Red */
  color: #fff;
}

/* Container for the GIF */
.gif-container {
  margin-top: 30px;
}

